header{
    height: 108px;
    background-color: aqua;
    color: darkorange;
    text-align: center;
    padding-top: 20px;
    font-size: 60px;
    font-family: cursive;
}
nav{
    height: 20px;
    background-color: lawngreen;
    margin-top: 6px;
}
nav a{
    text-decoration: none;
    padding-left: 6px;
}
h1{
    color:paleturquoise;
    font-size: 30px;
    font-family: elephant;
}
p{
    color:black;
    font-size: 15px;
    font-family: monospace;
}
h2{
     color:darkgray;
    font-size: 20px;
    font-family: fantasy;
}
img{
    width: 200px;
    height: 150px;
}
footer{
     height: 60px;
    background-color: aqua;
    color: darkorange;
    text-align: center;
    padding-top: 20px;
    font-size: 30px;
    font-family: cursive;
}